# Copy to TUYA_T5AI_CORE.config and fill in your product ID and license.
# TUYA_T5AI_CORE.config is gitignored, so credentials stay out of the repo.
# Leave the license empty to use the one flashed by `tos.py auth` instead.
CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="your_product_id_here"
CONFIG_TUYA_OPENSDK_UUID=""
CONFIG_TUYA_OPENSDK_AUTHKEY=""
CONFIG_ENABLE_COMP_AI_DISPLAY=y
CONFIG_ENABLE_AI_CHAT_CUSTOM_UI=y
CONFIG_UI_LANDSCAPE=y
CONFIG_ENABLE_BMO_BUTTONS=y
CONFIG_BMO_BTN_UP=4
CONFIG_BMO_BTN_DOWN=5
CONFIG_BMO_BTN_LEFT=7
CONFIG_BMO_BTN_RIGHT=8
CONFIG_BMO_BTN_MID=22
CONFIG_BMO_BTN_SW1=23
CONFIG_BMO_BTN_SW2=25
CONFIG_BMO_BTN_TRI=26
CONFIG_BMO_BTN_GREEN=19
CONFIG_BMO_MAX_VOLUME=85
CONFIG_ENABLE_MOTION_ENGINE=y
CONFIG_SERVO_LEFT_PWM=0
CONFIG_SERVO_RIGHT_PWM=1
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_CORE=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_BUTTION_STACK_SIZE=4096
